<header>
  <mat-toolbar style="background-color: rgb(74, 74, 74);" class="example-toolbar">
    <button mat-icon-button class="btn btn-primary" *ngIf="contentBool"
      style="background-color: rgb(74, 74, 74); border: rgb(74, 74, 74); color: white;"
      (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <span>&nbsp;&nbsp;<img src="../favicon.ico" height="50px" width="50px">&nbsp;&nbsp;&nbsp;</span>
    <span>
      <h1 class="example-app-name" style="color: white;" [routerLinkActive]="['active']" [routerLink]="['/home/dashboard']">HUMS</h1>
    </span>
    <span class="example-spacer"></span>
    <span class="flexExpand">
      <ng-container *ngIf="contentBool">
        <!-- <mat-icon>account_circle</mat-icon> -->
        <button class="btn btn-primary btn-lg" style="background-color: rgb(74, 74, 74); border: rgb(74, 74, 74);"
          mat-button [matMenuTriggerFor]="menu">
          {{ fName }} {{ lName }}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" style="background-color: rgb(74, 74, 74);">
          <button class="btn btn-link btn-block" [routerLinkActive]="['active']"
            [routerLink]="['/settings/services']">Profile</button>
          <hr>
          <button class="btn btn-link btn-block" (click)="onSignOut()">Sign Out</button>
        </mat-menu>
      </ng-container>
    </span>

  </mat-toolbar>
</header>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<section>
  <div *ngIf="loginBool">
    <div *ngIf="signinBool">
      <div class="row no-gutters">
        <div class="col-md-6 col-lg-7 col-sm-12">
          <img src="../assets/pics/img1.jpeg" style="height: 100%; width: 100%;">
        </div>
        <div class="col-md-6 col-lg-5 col-sm-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10">
                <br>
                <br>
                <p style="font-size:24px;">Health & Usage Monitoring System <br> HUMS Management Portal</p>
                <hr>
                <form [formGroup]="signinForm" (ngSubmit)="onSignin()">
                  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
                  <div class="form-group" style="padding-bottom: 10px;">
                    <label for="username" style="padding-bottom: 10px;">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username"
                      [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                      <div *ngIf="f['username'].errors['required']">Username is required</div>
                    </div>
                  </div>
                  <div class="form-group" style="padding-bottom: 10px;">
                    <label for="password" style="padding-bottom: 10px;">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password"
                      [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" (key.enter)="onSignin()">
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <div *ngIf="f['password'].errors['required']">Password is required</div>
                    </div>
                  </div>
                  <br>
                  <div class="form-call-to-actions">
                    <button class="btn btn-link" (click)="showForgotPass()">Forgot password?</button>
                    <button class="btn btn-primary" type="submit" style="float: right;">Sign In</button>
                  </div>
                  <div style="text-align: center;">
                    <span class="text" style="font-size:16px;">Don't have an account? <button class="btn btn-link"
                        (click)="showSignUp()">Sign up</button></span>
                  </div>
                </form>
                <br>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="signupBool">
      <div class="row no-gutters">
        <div class="col-md-6 col-lg-7 col-sm-12">
          <img src="../assets/pics/img2.jpeg" style="height: 100%; width: 100%;">
        </div>
        <div class="col-md-6 col-lg-5 col-sm-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10">
                <br>
                <br>
                <p style="font-size:24px;">Welcome to HUMS Portal</p>
                <hr>
                <form class="signup-form" [formGroup]="signupForm">
                  <div class="form-row">
                    <div class="form-group" style="padding-bottom: 10px;">
                      <label for="username" style="padding-bottom: 10px;">Username</label>
                      <input type="text" class="form-control" id="username" formControlName="username">
                      <div *ngIf="submitted && g['username'].errors" class="invalid-feedback">
                        <div *ngIf="g['username'].errors['required']">Username is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group" style="padding-bottom: 10px;">
                      <label for="firstname" style="padding-bottom: 10px;">First Name</label>
                      <input type="text" class="form-control" id="firstname" formControlName="firstname">
                      <div *ngIf="submitted && g['firstname'].errors" class="invalid-feedback">
                        <div *ngIf="g['firstname'].errors['required']">First name is required</div>
                      </div>
                    </div>
                    <div class="form-group" style="padding-bottom: 10px;">
                      <label for="lastname" style="padding-bottom: 10px;">Last Name</label>
                      <input type="text" class="form-control" id="lastname" formControlName="lastname">
                      <div *ngIf="submitted && g['lastname'].errors" class="invalid-feedback">
                        <div *ngIf="g['lastname'].errors['required']">Last name is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group" style="padding-bottom: 10px;">
                      <label for="contactno" style="padding-bottom: 10px;">Contact Number</label>
                      <input type="text" class="form-control" id="contactno" formControlName="contactno">
                      <div *ngIf="submitted && g['contactno'].errors" class="invalid-feedback">
                        <div *ngIf="g['contactno'].errors['required']">Contact number is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group" style="padding-bottom: 10px;">
                      <label for="password" style="padding-bottom: 10px;">Password</label>
                      <input type="password" class="form-control" id="password" formControlName="password">
                      <div *ngIf="submitted && g['password'].errors" class="invalid-feedback">
                        <div *ngIf="g['password'].errors['required']">Password is required</div>
                        <div *ngIf="notmatched">Passwords do not match</div>
                      </div>
                    </div>
                    <div class="form-group" style="padding-bottom: 10px;">
                      <label for="confirmPassword" style="padding-bottom: 10px;">Confirm Password</label>
                      <input type="password" class="form-control" id="confirmPassword"
                        formControlName="confirmPassword">
                      <div *ngIf="submitted && g['confirmPassword'].errors" class="invalid-feedback">
                        <div *ngIf="g['confirmPassword'].errors['required']">Password is required</div>
                        <div *ngIf="notmatched">Passwords do not match</div>
                      </div>
                    </div>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="terms" formControlName="terms">&nbsp;&nbsp;
                    <label class="custom-control-label" for="terms">
                      <span class="custom-label">I agree to the Terms and Privacy Policy.</span>
                    </label>
                  </div>
                  <div class="form-call-to-actions">
                    <button class="btn btn-primary btn-block" type="button" style="float: right;"
                      (click)="onSignup()">Create account</button>
                  </div>
                  <br>
                  <hr>
                  <div style="text-align: center;">
                    <span style="font-size:16px;">
                      Already have an account? <button class="btn btn-link" (click)="showSignIn()">Log in.</button>
                    </span>
                  </div>
                </form>
                <br>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="forgotPasswordBool">
      <div class="row no-gutters">
        <div class="col-md-6 col-lg-7 col-sm-12">
          <img src="../assets/pics/img3.png" style="height: 100%; width: 100%;">
        </div>
        <div class="col-md-6 col-lg-5 col-sm-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10">
                <br>
                <br>
                <h1>Dont worry!</h1>
                <span>
                  We are here to help you recovering your password. Please enter your username along with your new
                  password.
                </span>
                <hr>
                <form class="recover-password-form" [formGroup]="recoverPasswordForm">
                  <div class="form-row">
                    <div class="form-group" style="padding-bottom: 10px;">
                      <label for="username" style="padding-bottom: 10px;">Username</label>
                      <input type="text" class="form-control" id="username" formControlName="username">
                      <div *ngIf="submitted && h['username'].errors" class="invalid-feedback">
                        <div *ngIf="h['username'].errors['required']">Username is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group" style="padding-bottom: 10px;">
                      <label for="password" style="padding-bottom: 10px;">Password</label>
                      <input type="password" class="form-control" id="password" formControlName="password">
                      <div *ngIf="submitted && h['password'].errors" class="invalid-feedback">
                        <div *ngIf="h['password'].errors['required']">Password is required</div>
                        <div *ngIf="notmatched">Passwords do not match</div>
                      </div>
                    </div>
                    <div class="form-group" style="padding-bottom: 10px;">
                      <label for="confirmPassword" style="padding-bottom: 10px;">Confirm Password</label>
                      <input type="password" class="form-control" id="confirmPassword"
                        formControlName="confirmPassword">
                      <div *ngIf="submitted && h['confirmPassword'].errors" class="invalid-feedback">
                        <div *ngIf="h['confirmPassword'].errors['required']">Password is required</div>
                        <div *ngIf="notmatched">Passwords do not match</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="form-call-to-actions">
                    <div class="row">
                      <div class="col-8">
                        <button class="btn btn-link" (click)="showSignIn()">Go back to Login page</button>
                      </div>
                      <div class="col-4">
                        <button class="btn btn-primary" style="float: right;" (click)="onChangePassword()">Change
                          Password</button>
                      </div>
                    </div>
                  </div>
                </form>
                <br>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="contentBool">
    <mat-sidenav-container class="example-container" autosize>
      <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" style="background-color: rgb(74, 74, 74)">
        <ul class="side-menu-navigation nav flex-column" *ngIf="isExpanded || isShowing">
          <li class="menu-item expandable-item nav-item" [routerLinkActive]="['active']">
            <br>
            <mat-expansion-panel [expanded]="false" style="background-color: #c2c2c2">
              <mat-expansion-panel-header class="menu-link">
                <div class="item-header-content">
                  <mat-panel-title>
                    <i class="material-icons">analytics</i>&nbsp;&nbsp;
                    <span i18n="@@CRMTitle" class="menu-item-title">Analysis</span>
                  </mat-panel-title>
                </div>
              </mat-expansion-panel-header>
              <ul class="menu-sub-navigation nav flex-column">
                <li class="menu-item nav-item" [routerLinkActive]="['active']">
                  <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/analysis/performance']">
                    <i class="menu-item-icon"></i>
                    <span i18n="@@CRMDashboard" class="menu-item-title">Engine Performance</span>
                  </a>
                </li>
                <li class="menu-item nav-item" [routerLinkActive]="['active']">
                  <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/analysis/dtc']">
                    <i class="menu-item-icon"></i>
                    <span i18n="@@CRMDashboard" class="menu-item-title">Diagnostic Trouble Codes</span>
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel [expanded]="false" style="background-color: #c2c2c2">
              <mat-expansion-panel-header class="menu-link">
                <div class="item-header-content">
                  <mat-panel-title>
                    <i class="material-icons">checklist</i>&nbsp;&nbsp;
                    <span i18n="@@CRMTitle" class="menu-item-title">Parameters</span>
                  </mat-panel-title>
                </div>
              </mat-expansion-panel-header>
              <ul class="menu-sub-navigation nav flex-column">
                <li class="menu-item nav-item" [routerLinkActive]="['active']">
                  <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/crm/dashboard']">
                    <i class="menu-item-icon"></i>
                    <span i18n="@@CRMDashboard" class="menu-item-title">Dashboard</span>
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel [expanded]="false" style="background-color: #c2c2c2">
              <mat-expansion-panel-header class="menu-link">
                <div class="item-header-content">
                  <mat-panel-title>
                    <i class="material-icons">recent_actors</i>&nbsp;&nbsp;
                    <span i18n="@@CRMTitle" class="menu-item-title">Profiles</span>
                  </mat-panel-title>
                </div>
              </mat-expansion-panel-header>
              <ul class="menu-sub-navigation nav flex-column">
                <li class="menu-item nav-item" [routerLinkActive]="['active']">
                  <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/profiles/dashboard']">
                    <i class="menu-item-icon"></i>
                    <span i18n="@@CRMDashboard" class="menu-item-title">Dashboard</span>
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
            <br>
          </li>
        </ul>
      </mat-sidenav>
      <div class="bg">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-container>
  </div>
</section>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<footer style="background-color: rgb(74, 74, 74);; color: white;">
  <div class="container-fluid">
    <br><br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        <div class="row">
          <div class="col-6 container-fluid">
            <h3>Support</h3>
            <hr style="border: 1px solid white;">
          </div>
          <div class="col-6 container-fluid">
            <h3>About Us</h3>
            <hr style="border: 1px solid white;">
          </div>
        </div>
        <br>
        <div class="col-12">
        </div>
        <hr style="border: 1px solid white;">
        <br>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</footer>